/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    background-color: transparent; /* 배경색 제거 */
    color: white; /* 글자 색상을 흰색으로 유지 */
    padding: 0; /* 불필요한 패딩 제거 */
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

ul li input[type="checkbox"] {
    margin-left: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* 고정된 위치에서 변경 */
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

#contact {
    display: block;
    visibility: visible;
    position: relative;
    margin-top: 20px; /* 섹션 간의 간격을 위한 마진 추가 */
}

section {
    margin-bottom: 20px;
}

hr {
    border: 1px solid black;
}

header, main, footer {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; /* 화면 중앙에 정렬 */
}
